// Splash

#main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background-color: black;
}

#splash-main-pic-container {
    position: static;
    top: 0%;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 1px;
    margin-bottom: 1px;
    display: flex;
    justify-content: center;
    resize: 50%;
    background-color: black;
}

#splash-main-pic {
    display: flex;
    height: 100%;
    width: 96%; 
    align-items: center;
    top: 20%;
}

// Header

#header {
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,.2);
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 20px 20px;
    z-index: 999;
}

#header-white {
    background-color: rgb(255, 255, 255);
    border-bottom: 1px lightgray solid;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,.2);
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 20px 20px;
    z-index: 999;
}

#app-name-header {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    color: rgb(255, 70, 88); 
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 2rem;
}

.airbnb-icon {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    color: black;
    background-color: black;
}

.airbnb-icon-white {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    background-color: rgb(255, 255, 255);
}

// Search

.search {
    display: flex;
}

.search > * {
    height: 60px;
    background-color: white;
    font-size: medium;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 1px lightgray solid;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,.2);
}

.mid-search {
    padding: 1px;
}

.left-edge-search {
    padding-left: 10px;
    border-radius: 50px 0px 0px 50px;
}

.right-edge-search {
    padding-left: 5px;
    border-right: 1em;
    border-right-color: rgb(161, 161, 161);
    margin-right: 1px;
}

#search-icon-outer-container {
    background-color: white;
    border-right: 1px lightgray solid;
    height: 62px;
    width: 60px;
    border-radius: 0px 50px 50px 0px;
    margin-left: -1px;
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}

#search-icon-container {
    top: 15px;
    background-color:rgb(255, 60, 85);
    padding: 10px;
    border-radius: 50px;
    height: 1em;
    width: 1em;
    grid-column: 2;
    grid-row: 3;
    cursor: pointer;
}

#false-search-icon-container {
    top: 15px;
    background-color:rgb(83, 83, 83);
    padding: 10px;
    border-radius: 50px;
    height: 1em;
    width: 1em;
    grid-column: 2;
    grid-row: 3;
    cursor: pointer;
}

#search-submit {
    background: transparent;
    border: none !important;
    font-size:0;
}

// SplashFooter

#splash-footer-container {
    background-color: white;
}

// Cities

#inspiration {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    margin: 150px 0px 80px 110px;
}

#city-container {
    display: flex;
    justify-content: space-around;
    margin: 0px 70px 150px 70px;
}

.cities > * > * {
    height: 170px;
    width: 260px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.city {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    background-color: rgb(255, 59, 59);
    border-radius: 12px;
    height: 320px;
    width: 260px;
}

.cty-text {
    position: relative;
    margin-left: 20px;
    margin-top: 10px;
}

// Footer

#footer {
    padding: 20px 0px 20px 0px;
    display: flex;
    justify-content: space-around;
    overflow: auto;
    position: relative;
    background-color: rgb(255, 70, 88); 
    border-top: solid rgb(200, 200, 200);
    border-width: 1px;
}

.bold-footer {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.personal-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.personal-links > * {
    display: flex;
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
    margin: -5px 50px -5px 50px;
}

#developed-by {
    margin-top: 5px;
}

.footer-img {
    width: 40px;
    height: 40px;
}

#hamburger-icon {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 4px;
    height: 60%;
    width: 30%;
    cursor: pointer;
}

#menu-profile-icon {
    padding-top: 5px;
    margin-bottom: -5px;
    margin-left: 5px;
    width: 40px;
    height: 40px;
}

.menu-container {
    right: 0px;
    margin-top: .25rem;
    margin-right: 2rem;
    border: 1px rgb(92, 92, 92) solid;
    background-color: rgb(248, 248, 248);
    border-radius: 40px;
    width: 100px;
    height: 50px;
}

.menu-dropdown {
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    font-style: normal; 
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,.2);
    width: 200px;
    border-radius: 10px;
    padding: 20px;
    right: 3rem;
    top: 110px;
    cursor: pointer;
}

.session-dropdown-option {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

// modal

.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(55, 55, 55, 0.5);
    z-index: 999;
}

.modal {
    color: black;
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 36%;
    left: 33%;
    top: 16%;
    border-radius: 15px;
    padding: 10px;
}

#session-form-container{
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.form-name {
    text-align: center;
    font-size: 26px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
}

.x-button {
    color: rgb(70, 70, 70);
    font-size: 24px;
    cursor: pointer;
}

.form-line {
    border-top: .1px solid rgb(161, 161, 161);
    margin-bottom: 20px;
}

.welcome-session {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
}

.form-input {
    border-radius: 10px;
    width: 450px;
    height: 50px;
    margin-bottom: 20px;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form-input-bottom {
    border-radius: 10px;
    width: 450px;
    height: 50px;
    margin-bottom: 20px;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form-button {
    width: 455px;
    height: 60px;
    background-image: linear-gradient(to right, rgb(255, 0, 81) , rgb(195, 0, 85));
    border-radius: 10px;
    color: white;
    font-size: 22px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    outline-color: white;
    margin-bottom: 10px;
    border: rgb(240, 240, 240);
    cursor: pointer;
}

// user

.user-header {
    position: sticky;
    top: 0px;
}

.user-show-container {
    display: flex;
    flex-direction: row;
}

.user-identity {
    width: 350px;
    height: 600px;
    background-color: rgb(255, 255, 255);
    border: solid rgb(209, 209, 209);
    border-width: 1px;
    margin-left: 150px;
    margin-top: 75px;
    border-radius: 10px;
    margin-bottom: 50px;
}

#blank_user_profile {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin: 30px 125px 0px 125px; 
}

#profile-photo-upload-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#profile-photo-upload {
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: solid 2px black;
    margin-top: 10px;
    background-color: rgb(178, 178, 178);
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    cursor: pointer;
    margin-bottom: -30px;
}

.hello-user {
    margin-top: 10px;
    font-size: 22px;
    text-align: center;
}

.shield-checkmark {
    width: 25px;       
    height: 30px;
    margin-left: 35px;
    margin-top: 80px;
}

.user-verified {
    display: inline;
    font-size: 22px;
    padding-left: 10px;
    position: relative;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    top: -4px;
}

.user-identity-border {
    margin: 50px;
    border-bottom: solid rgb(209, 209, 209);
    border-width: 1px;
}

.user-confirmed {
    margin-left: 30px;
    font-size: 32px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.checkmark {
    margin: 35px;
    font-size: 24px;
}

.user-info-container {
    margin-left: 80px;
    margin-top: 75px;
    width: 800px;
}

#user-info-hi {
    margin-bottom: 100px;
    font-size: 42px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#user-listings-header {
    display: inline;
    color:rgb(0, 0, 0);
    font-size: 26px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.user-info-border {
    border-bottom: solid rgb(209, 209, 209);
    border-width: 1px;
    margin-top: 80px;
    margin-bottom: 60px;
}

#user-info-about {
    margin-bottom: 20px;
    font-size: 28px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

#user-add-listing {
    background-color: rgb(237, 51, 101);
    color: white;
    width: 150px;
    height: 40px;
    font-size: 22px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 350px;
    border-radius: 5px;
    border-color: rgb(130, 130, 130);
    cursor: pointer;
}

// listings

.listings-and-map-container {
    color: black;
    display: flex;
    justify-content: space-between;
}

.listings-index-container {
    flex-direction: column;
    margin-top: 10px;
}

#map-container {
    width: 714px;
    height: 655px;
}

#show-map-container {
    width: 100%;
    height: 800px;
}

#sticky-map {
    position: sticky;
    top: 14%;
    width: 769px;
    height: 655px;
}

.map-api {
    position: static;
    background-color: rgb(200, 200, 200);
    height: 100%;
    width: 769px;
    text-align: center;
    font-size: 32px;
}

.listing-item-container {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    margin: 25px 20px 5px 40px;
    cursor: pointer;
}

#listing-item-underline {
    border-bottom: 1px solid rgb(206, 206, 206);
    width: 90%;
    margin: 0px 20px 0px 45px;
}

.listing-thumbnail {
    width: 250px;
    height: 175px;
    border-radius: 10px;
}

.listing-item-info {
    display: block;
    width: 525px;
    padding: 10px;
    margin-left: 10px;
}

.listings-divider {
    color: black;
    border-color: black;
}

.listing-description {
    font-size: 22px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:rgb(41, 41, 41);
    padding-bottom: 15px;
}

.listing-title {
    font-size: 22px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    padding-bottom: 20px;
}

.listing-capacities {
    color:rgb(41, 41, 41);
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ratings-and-price-container {
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.bold {
    font-weight: bold;
}
